<header id="header" class="header fixed-top d-flex align-items-center justify-content-between w-100">
   <div class="d-flex align-items-center justify-content-between">
      <a  href="https://mis.aidem.in/aidem/MenuForm.aspx" class="logo d-flex align-items-center cursor-pointer">
         <img src="assets/images/logo.jpg" alt="" height="60">
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
   </div> 
   <!-- <div *ngIf="greetLabel" class="text-capitalize">{{greetLabel}}</div> -->
   <nav class="header-nav">
      <ul class="d-flex align-items-center">
         <li class="nav-item dropdown pe-3">
            <a class="named" href="javascript:void(0)">
               {{logo}}
            </a>
         </li>
      </ul>
   </nav>
</header>