td,
th {
    vertical-align: middle !important;
}

.connect::before,
.connect::after {
    content: "";
    width: 10px;
    height: 10px;
    text-align: center;
    line-height: 10px;
    border-radius: 5px;
    background: #1bc5bd;
    margin: 0;
    display: inline-block;
    position: absolute;
    top: -4px;
}

.connect::before {
    left: -5px;
}

.connect::after {
    right: -5px;
}

.connect {
    right: 49%;
    top: 1%;
    z-index: 9;
    width: 26px;
    height: 2px;
    background: darkGray;
    position: absolute;
}
