<div class="container my-5">
    <!-- <h1 class="mb-3">Designations</h1>
    <table class="table" *ngIf="designations && designations.length>0">
        <thead>
            <tr>
                <Th>Code</Th>
                <th>ID</th>
                <th>Name</th>
                <th>UserLevel</th>
                <th>DesignationLevel</th>                
            </tr>
        </thead>
        <tbody>
            
        </tbody>

    </table>
    <p *ngIf="!designations || designations.length <=0">No Designations Founds</p> -->

    <div class="row">
        <div class="col-lg-12">
            <div class="card card-custom gutter-b example example-compact">
                <div class="card-header">
                    <h4 class="card-title">
                        Daily Meeting Report
                    </h4>
                    <div class="card-toolbar">
                        <div class="example-tools justify-content-center">
                            <span class="example-toggle" data-toggle="tooltip" title=""
                                data-original-title="View code"></span>
                            <span class="example-copy" data-toggle="tooltip" title=""
                                data-original-title="Copy code"></span>
                        </div>
                    </div>
                </div>
                <!--begin::Form-->
                <form class="form" [formGroup]="dsrForm">
                    <div class="card-body">
                        <div class="row">

                            <div class="col-lg-12">
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label">Business / Channel</label>
                                    <div class="col-lg-9">
                                        <ng-select [items]="cars" 
                                                bindLabel="name" 
                                                bindValue="id" 
                                                [addTag]="true"
                                                [multiple]="true"
                                                [addTagText]="'Click to add new business / Channel'"
                                                [ngClass]="{'input-error': dsrForm?.get('business').touched && dsrForm?.get('business').errors?.required}" 
                                                formControlName="business" 
                                                placeholder="Business / Channel">
                                        </ng-select>
                                        <span class="form-text text-muted px-2">Please enter Business / Channel</span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <h3 class="font-size-lg text-dark font-weight-bold mb-6 title-colap">
                                    Meeting Details
                                </h3>

                                <div class="mb-15 mx-2">
                                    <div class="form-group row">
                                        <label class="d-block col-form-label">Date of Meeting</label>
                                        <div class="col-lg-12">
                                            <input type="date" class="form-control" [ngClass]="{'input-error':dsrForm?.get('dateOfMeeting').touched && dsrForm?.get('dateOfMeeting').errors?.required}" placeholder="Please Select" formControlName="dateOfMeeting">
                                            <span class="form-text text-muted px-2">Format: DD-MM-YYYY</span>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="d-block col-form-label">Purpose</label>
                                        <div class="col-lg-12">
                                            <input type="email" class="form-control" [ngClass]="{'input-error': dsrForm?.get('purpose').touched && dsrForm?.get('purpose').errors?.required}" placeholder="Please Select" formControlName="purpose">
                                            <span class="form-text text-muted px-2">ex: Purpose</span>
                                        </div>
                                    </div>
                                   
                                    <div class="form-group row">
                                        <label class="d-block col-form-label">Meeting Type</label>
                                        <div class="col-lg-12">
                                            <input type="email" class="form-control" 
                                            [ngClass]="{'input-error':dsrForm?.get('meetingType').touched && dsrForm?.get('meetingType').errors?.required}" 
                                            placeholder="Please Select" formControlName="meetingType">
                                            <span class="form-text text-muted px-2">ex: In-person</span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="d-block col-form-label">Accompanied By</label>
                                        <div class="col-lg-12">
                                            <input type="email" class="form-control" [ngClass]="{'input-error':dsrForm?.get('accompanied').touched && dsrForm?.get('accompanied').errors?.required}" placeholder="Please enter" 
                                            formControlName="accompanied">
                                            <span class="form-text text-muted px-2">Search and Populate the names</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <h3 class="font-size-lg text-dark font-weight-bold mb-6 title-colap">
                                    Attendee Details
                                </h3>
                                <div class="mb-3 mx-2">
                                    <div class="form-group row">
                                        <label class="d-block col-form-label">Name of the attendee</label>
                                        <div class="col-lg-12">
                                                <ng-select
                                                    [items]="people$ | async"
                                                    [addTag]="enableAddNewPeople"
                                                    [addTagText]="'Click to add new attendee'"
                                                    bindLabel="login"
                                                    [trackByFn]="trackByFn"
                                                    [minTermLength]="2"
                                                    [loading]="peopleLoading"
                                                    [placeholder]="'Search name of the attendee'"
                                                    typeToSearchText="Please enter 3 or more characters"
                                                    [typeahead]="peopleInput$"
                                                    formControlName="nameOfAttendee"
                                                    [clearSearchOnAdd]="true"
                                                    [clearable]="true"
                                                    (open)="onPeopleDropdownOpen()"
                                                    [ngClass]="{'input-error':dsrForm?.get('nameOfAttendee').touched && dsrForm?.get('nameOfAttendee').errors?.required}"
                                                    >
                                                </ng-select>

                                            <span class="form-text text-muted px-2">Search name of the attendee</span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="d-block col-form-label">Agency</label>
                                        <div class="col-lg-12">
                                            <div class="input-group">
                                                <input type="text" class="form-control" [ngClass]="{'input-error':dsrForm?.get('agency').touched && dsrForm?.get('agency').errors?.required}" placeholder="Please Select" formControlName="agency">
                                                <span class="form-text text-muted px-2">&nbsp;</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="d-block col-form-label">Company Affiliation</label>
                                        <div class="col-lg-12">
                                            <div class="input-group">
                                                <input type="text" class="form-control" [ngClass]="{'input-error':dsrForm?.get('companyAffiliation').touched && dsrForm?.get('companyAffiliation').errors?.required}" placeholder="Please Select" formControlName="companyAffiliation">
                                                <span class="form-text text-muted px-2">&nbsp;</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="d-block col-form-label">Brand</label>
                                        <div class="col-lg-12">
                                            <div class="input-group">
                                                <input type="text" class="form-control" [ngClass]="{'input-error':dsrForm?.get('brand').touched && dsrForm?.get('brand').errors?.required}" placeholder="Please Select" formControlName="brand">
                                                <span class="form-text text-muted px-2">&nbsp;</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="form-group row align-items-center">
                                        <label class="d-block col-form-label">Communication:</label>
                                        <div class="col-lg-12">
                                            <div class="checkbox-inline">
                                                <label class="checkbox">
                                                    <input type="checkbox">
                                                    <span></span>
                                                    Email
                                                </label>
                                                <label class="checkbox">
                                                    <input type="checkbox">
                                                    <span></span>
                                                    SMS
                                                </label>
                                                <label class="checkbox">
                                                    <input type="checkbox">
                                                    <span></span>
                                                    Phone
                                                </label>
                                            </div>
                                        </div>
                                    </div> -->
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <h3 class="font-size-lg text-dark font-weight-bold mb-6 title-colap">
                                    Meeting Information
                                </h3>
                                <div class="mb-3 mx-2">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group row">
                                                <label class="d-block col-form-label">Meeting Feedback</label>
                                                <div class="col-lg-12">
                                                    <textarea rows="6" class="form-control" [ngClass]="{'input-error':dsrForm?.get('meetingFeedback').touched && dsrForm?.get('meetingFeedback').errors?.required}"
                                                        placeholder="Enter meeting feedback" formControlName="meetingFeedback"></textarea>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="d-block col-form-label">Proposal Value</label>
                                                <div class="col-lg-12">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" [ngClass]="{'input-error':dsrForm?.get('proposalValue').touched && dsrForm?.get('proposalValue').errors?.required}"
                                                            placeholder="Enter proposal value" formControlName="proposalValue">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="form-group row align-items-center">
                                                <label class="d-block col-form-label">Action Items</label>
                                                <div class="col-lg-12">
                                                    <div class="checkbox-inline">
                                                        <label class="checkbox">
                                                            <input type="checkbox">
                                                            <span></span>
                                                            Follow Up
                                                        </label>
                                                        <label class="checkbox">
                                                            <input type="checkbox">
                                                            <span></span>
                                                            Share Assets
                                                        </label>
                                                        <label class="checkbox">
                                                            <input type="checkbox">
                                                            <span></span>
                                                            Share Proposal
                                                        </label>
                                                        <label class="checkbox">
                                                            <input type="checkbox">
                                                            <span></span>
                                                            Other
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="card-footer text-center bg-light">
                        <button type="reset" class="btn btn-success mx-2">Submit</button>
                        <button type="reset" class="btn btn-outline-secondary">Cancel</button>
                    </div>
                </form>
                <!--end::Form-->
            </div>
        </div>
    </div>


</div>