.card.card-custom {
    -webkit-box-shadow: 0px 0px 30px 0px rgba(82, 63, 105, 0.05);
    box-shadow: 0px 0px 30px 0px rgba(82, 63, 105, 0.05);
    border: 0;
  }
  .card.card-custom > .card-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    min-height: 70px;
    padding-top: 0;
    padding-bottom: 0;
    background-color: transparent;
  }
  .card.card-custom > .card-header .card-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0.5rem;
    margin-left: 0;
  }
  .card.card-custom > .card-header .card-title .card-icon {
    margin-right: 0.75rem;
    line-height: 0;
  }
  .card.card-custom > .card-header .card-title .card-icon i {
    font-size: 1.25rem;
    color: #7E8299;
    line-height: 0;
  }
  .card.card-custom > .card-header .card-title .card-icon i:after, .card.card-custom > .card-header .card-title .card-icon i:before {
    line-height: 0;
  }
  .card.card-custom > .card-header .card-title .card-icon .svg-icon svg {
    height: 24px;
    width: 24px;
  }
  .card.card-custom > .card-header .card-title .card-icon .svg-icon svg g [fill] {
    -webkit-transition: fill 0.3s ease;
    transition: fill 0.3s ease;
    fill: #7E8299;
  }
  .card.card-custom > .card-header .card-title .card-icon .svg-icon svg:hover g [fill] {
    -webkit-transition: fill 0.3s ease;
    transition: fill 0.3s ease;
  }
  .card.card-custom > .card-header .card-title,
  .card.card-custom > .card-header .card-title .card-label {
    font-weight: 500;
    font-size: 1.275rem;
    color: #181C32;
  }
  .card.card-custom > .card-header .card-title .card-label {
    margin: 0 0.75rem 0 0;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .card.card-custom > .card-header .card-title small {
    color: #B5B5C3;
    font-size: 1rem;
  }
  .card.card-custom > .card-header .card-toolbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0.5rem 0;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .card.card-custom > .card-header.card-header-tabs-line {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  .card.card-custom > .card-header.card-header-tabs-line .card-toolbar {
    margin: 0;
  }
  .card.card-custom > .card-header.card-header-tabs-line .nav {
    border-bottom-color: transparent;
  }
  .card.card-custom > .card-header.card-header-tabs-line .nav .nav-item {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  .card.card-custom > .card-header.card-header-tabs-line .nav .nav-link {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .card.card-custom > .card-header.card-header-right {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .card.card-custom > .card-body {
    padding: 2rem 2.25rem;
  }
  .card.card-custom > .card-footer {
    background-color: transparent;
  }
  .card.card-custom .card-scroll {
    position: relative;
    overflow: auto;
  }
  .card.card-custom.card-stretch {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch !important;
    -ms-flex-align: stretch !important;
    align-items: stretch !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
  }
  .card.card-custom.card-stretch.gutter-b {
    height: calc(100% - 30px);
  }
  .card.card-custom.card-stretch.card-stretch-half {
    height: 50%;
  }
  .card.card-custom.card-stretch.card-stretch-half.gutter-b {
    height: calc(50% - 30px);
  }
  .card.card-custom.card-stretch.card-stretch-third {
    height: 33.33%;
  }
  .card.card-custom.card-stretch.card-stretch-third.gutter-b {
    height: calc(33.33% - 30px);
  }
  .card.card-custom.card-stretch.card-stretch-fourth {
    height: 25%;
  }
  .card.card-custom.card-stretch.card-stretch-fourth.gutter-b {
    height: calc(25% - 30px);
  }
  .card.card-custom.card-fit > .card-header {
    border-bottom: 0;
  }
  .card.card-custom.card-fit > .card-footer {
    border-top: 0;
  }
  .card.card-custom.card-space {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
  .card.card-custom.card-space > .card-header {
    padding-left: 0;
    padding-right: 0;
  }
  .card.card-custom.card-space > form > .card-body,
  .card.card-custom.card-space > .card-body {
    padding-left: 0;
    padding-right: 0;
  }
  .card.card-custom.card-space > form > .card-footer,
  .card.card-custom.card-space > .card-footer {
    padding-left: 0;
    padding-right: 0;
  }
  .card.card-custom.card-sticky > .card-header {
    -webkit-transition: left 0.3s, right 0.3s, height 0.3s;
    transition: left 0.3s, right 0.3s, height 0.3s;
    min-height: 70px;
  }
  .card-sticky-on .card.card-custom.card-sticky > .card-header {
    -webkit-transition: left 0.3s, right 0.3s, height 0.3s;
    transition: left 0.3s, right 0.3s, height 0.3s;
    position: fixed;
    -webkit-box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.1);
    box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.1);
    z-index: 101;
    background: #ffffff;
  }
  .card.card-custom.card-transparent {
    background-color: transparent;
  }
  .card.card-custom.card-shadowless {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .card.card-custom.card-px-0 .card-header,
  .card.card-custom.card-px-0 .card-body,
  .card.card-custom.card-px-0 .card-footer {
    padding-left: 0;
    padding-right: 0;
  }
  .card.card-custom.card-border {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #EBEDF3;
  }
  .card.card-custom.card-collapsed > form,
  .card.card-custom.card-collapsed > .card-body {
    display: none;
  }
  .card.card-custom .card-header .card-toolbar [data-card-tool=toggle] i {
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;
  }
  .card.card-custom.card-collapsed .card-header .card-toolbar [data-card-tool=toggle] i, .card.card-custom.card-collapse .card-header .card-toolbar [data-card-tool=toggle] i {
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  
  .card-spacer {
    padding: 2rem 2.25rem !important;
  }
  
  .card-spacer-x {
    padding-left: 2.25rem !important;
    padding-right: 2.25rem !important;
  }
  
  .card-spacer-y {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
  }
  
  .card-rounded {
    border-radius: 0.42rem;
  }
  
  .card-rounded-top {
    border-top-left-radius: 0.42rem;
    border-top-right-radius: 0.42rem;
  }
  
  .card-rounded-bottom {
    border-bottom-left-radius: 0.42rem;
    border-bottom-right-radius: 0.42rem;
  }

  .form-group {
    margin-bottom: 1rem;
}
.font-size-lg {
    font-size: 1.08rem;
  }
  .form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 1.3rem + 2px);
    padding: 0.65rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #3F4254;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #E4E6EF;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  }

  .col-form-label {
    padding-top: calc(0.65rem + 1px);
    padding-bottom: calc(0.65rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
  }

  .checkbox-inline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .checkbox-inline .checkbox {
    margin-right: 1rem;
    margin-bottom: 0.35rem;
  }
  .checkbox-inline .checkbox span {
    margin-right: 0.75rem;
  }
  .checkbox-inline .checkbox:last-child {
    margin-right: 0;
  }
  
  .checkbox-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .checkbox-list .checkbox {
    margin-bottom: 1rem;
  }
  .checkbox-list .checkbox span {
    margin-right: 0.75rem;
  }
  .checkbox-list .checkbox:last-child {
    margin-bottom: 0;
  }
  
  .input-group .checkbox {
    margin-bottom: 0 !important;
    padding-left: 0;
  }
  
  .form-inline .checkbox {
    margin-left: 15px;
    margin-right: 15px;
  }

  
.checkbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    text-align: left;
    cursor: pointer;
    font-size: 1rem;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin: 0;
  }
  .checkbox > span {
    background-color: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    border-radius: 0.42rem;
  }
  .checkbox > span:after {
    content: "";
    border-color: transparent;
    border-style: solid;
    border-width: 0 2px 2px 0 /*rtl:ignore*/ !important;
    -webkit-transform: rotate(45deg) /*rtl:ignore*/;
    transform: rotate(45deg) /*rtl:ignore*/;
    margin-top: -2px;
  }
  .checkbox > input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  .checkbox:hover > input:not([disabled]) ~ span,
  .checkbox > input:focus ~ span {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .checkbox.checkbox-disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
  .checkbox > input:checked ~ span {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: none;
  }
  .checkbox > input:checked ~ span:after {
    display: block;
  }
  .checkbox.checkbox-square > span {
    border-radius: 0;
  }
  .checkbox.checkbox-circle > span {
    border-radius: 50%;
  }
  .checkbox.checkbox-outline > span {
    border-width: 1px;
    border-style: solid;
  }
  .checkbox.checkbox-outline-2x > span {
    border-width: 2px !important;
  }
  .checkbox.checkbox-accent > span {
    border-width: 3px !important;
    border-style: solid !important;
    background-color: transparent !important;
  }
  .checkbox.checkbox-accent > span:after {
    display: block;
  }
  
  .checkbox > span {
    height: 18px;
    width: 18px;
  }
  .checkbox > span:after {
    width: 5px;
    height: 10px;
  }
  .checkbox.checkbox-lg > span {
    height: 24px;
    width: 24px;
  }
  .checkbox.checkbox-lg > span:after {
    width: 6px;
    height: 12px;
  }
  .checkbox.checkbox-outline > span {
    height: 18px;
    width: 18px;
  }
  .checkbox.checkbox-outline > span:after {
    width: 5px;
    height: 10px;
  }
  .checkbox.checkbox-outline.checkbox-lg > span {
    height: 24px;
    width: 24px;
  }
  .checkbox.checkbox-outline.checkbox-lg > span:after {
    width: 6px;
    height: 12px;
  }
  
  .checkbox > span {
    background-color: #EBEDF3;
    border: 1px solid transparent;
  }

  .checkbox > input:checked ~ span {
    background-color: #8950FC;
  }
  .checkbox > input:checked ~ span:after {
    border-color: #ffffff;
  }
  .checkbox.checkbox-outline > span {
    background-color: transparent;
    border-color: #D1D3E0;
  }
  .checkbox.checkbox-outline > input:focus ~ span {
    background-color: transparent;
    border-color: #D1D3E0;
  }
  .checkbox.checkbox-outline > input:checked ~ span {
    background-color: transparent;
    border-color: #8950FC;
  }
  .checkbox.checkbox-outline > input:checked ~ span:after {
    border-color: #8950FC;
  }
  .checkbox.checkbox-primary > span {
    border: 1px solid transparent;
  }
  .checkbox.checkbox-primary > input:focus ~ span {
    border: 1px solid transparent;
  }
  .checkbox.checkbox-primary > input:checked ~ span {
    background-color: #8950FC;
  }
  .checkbox.checkbox-primary > input:checked ~ span:after {
    border-color: #ffffff;
  }
  .checkbox.checkbox-light-primary > span {
    background-color: #EEE5FF;
    border: 1px solid transparent;
  }
  .checkbox.checkbox-light-primary > input:focus ~ span {
    border: 1px solid transparent;
  }
  .checkbox.checkbox-light-primary > input:checked ~ span {
    background-color: #8950FC;
  }
  .checkbox.checkbox-light-primary > input:checked ~ span:after {
    border-color: #FFFFFF;
  }
  .checkbox.checkbox-outline.checkbox-primary > span {
    background-color: transparent;
    border-color: #D1D3E0;
  }
  .checkbox.checkbox-outline.checkbox-primary > input:focus ~ span {
    background-color: transparent;
    border-color: #D1D3E0;
  }
  .checkbox.checkbox-outline.checkbox-primary > input:checked ~ span {
    background-color: transparent;
    border-color: #8950FC;
  }
  .checkbox.checkbox-outline.checkbox-primary > input:checked ~ span:after {
    border-color: #8950FC;
  }
  .checkbox.checkbox-secondary > span {
    border: 1px solid transparent;
  }
  .checkbox.checkbox-secondary > input:focus ~ span {
    border: 1px solid transparent;
  }
  .checkbox.checkbox-secondary > input:checked ~ span {
    background-color: #E4E6EF;
  }
  .checkbox.checkbox-secondary > input:checked ~ span:after {
    border-color: #ffffff;
  }
  .checkbox.checkbox-light-secondary > span {
    background-color: #EBEDF3;
    border: 1px solid transparent;
  }
  .checkbox.checkbox-light-secondary > input:focus ~ span {
    border: 1px solid transparent;
  }
  .checkbox.checkbox-light-secondary > input:checked ~ span {
    background-color: #E4E6EF;
  }
  .checkbox.checkbox-light-secondary > input:checked ~ span:after {
    border-color: #3F4254;
  }
  .checkbox.checkbox-outline.checkbox-secondary > span {
    background-color: transparent;
    border-color: #D1D3E0;
  }
  .checkbox.checkbox-outline.checkbox-secondary > input:focus ~ span {
    background-color: transparent;
    border-color: #D1D3E0;
  }
  .checkbox.checkbox-outline.checkbox-secondary > input:checked ~ span {
    background-color: transparent;
    border-color: #E4E6EF;
  }
  .checkbox.checkbox-outline.checkbox-secondary > input:checked ~ span:after {
    border-color: #E4E6EF;
  }
  .checkbox.checkbox-success > span {
    border: 1px solid transparent;
  }
  .checkbox.checkbox-success > input:focus ~ span {
    border: 1px solid transparent;
  }
  .checkbox.checkbox-success > input:checked ~ span {
    background-color: #1BC5BD;
  }
  .checkbox.checkbox-success > input:checked ~ span:after {
    border-color: #ffffff;
  }
  .checkbox.checkbox-light-success > span {
    background-color: #C9F7F5;
    border: 1px solid transparent;
  }
  .checkbox.checkbox-light-success > input:focus ~ span {
    border: 1px solid transparent;
  }
  .checkbox.checkbox-light-success > input:checked ~ span {
    background-color: #1BC5BD;
  }
  .checkbox.checkbox-light-success > input:checked ~ span:after {
    border-color: #ffffff;
  }
  .checkbox.checkbox-outline.checkbox-success > span {
    background-color: transparent;
    border-color: #D1D3E0;
  }
  .checkbox.checkbox-outline.checkbox-success > input:focus ~ span {
    background-color: transparent;
    border-color: #D1D3E0;
  }
  .checkbox.checkbox-outline.checkbox-success > input:checked ~ span {
    background-color: transparent;
    border-color: #1BC5BD;
  }
  .checkbox.checkbox-outline.checkbox-success > input:checked ~ span:after {
    border-color: #1BC5BD;
  }
  .checkbox.checkbox-info > span {
    border: 1px solid transparent;
  }
  .checkbox.checkbox-info > input:focus ~ span {
    border: 1px solid transparent;
  }
  .checkbox.checkbox-info > input:checked ~ span {
    background-color: #8950FC;
  }
  .checkbox.checkbox-info > input:checked ~ span:after {
    border-color: #ffffff;
  }
  .checkbox.checkbox-light-info > span {
    background-color: #EEE5FF;
    border: 1px solid transparent;
  }
  .checkbox.checkbox-light-info > input:focus ~ span {
    border: 1px solid transparent;
  }
  .checkbox.checkbox-light-info > input:checked ~ span {
    background-color: #8950FC;
  }
  .checkbox.checkbox-light-info > input:checked ~ span:after {
    border-color: #ffffff;
  }
  .checkbox.checkbox-outline.checkbox-info > span {
    background-color: transparent;
    border-color: #D1D3E0;
  }
  .checkbox.checkbox-outline.checkbox-info > input:focus ~ span {
    background-color: transparent;
    border-color: #D1D3E0;
  }
  .checkbox.checkbox-outline.checkbox-info > input:checked ~ span {
    background-color: transparent;
    border-color: #8950FC;
  }
  .checkbox.checkbox-outline.checkbox-info > input:checked ~ span:after {
    border-color: #8950FC;
  }
  .checkbox.checkbox-warning > span {
    border: 1px solid transparent;
  }
  .checkbox.checkbox-warning > input:focus ~ span {
    border: 1px solid transparent;
  }
  .checkbox.checkbox-warning > input:checked ~ span {
    background-color: #FFA800;
  }
  .checkbox.checkbox-warning > input:checked ~ span:after {
    border-color: #ffffff;
  }
  .checkbox.checkbox-light-warning > span {
    background-color: #FFF4DE;
    border: 1px solid transparent;
  }
  .checkbox.checkbox-light-warning > input:focus ~ span {
    border: 1px solid transparent;
  }
  .checkbox.checkbox-light-warning > input:checked ~ span {
    background-color: #FFA800;
  }
  .checkbox.checkbox-light-warning > input:checked ~ span:after {
    border-color: #ffffff;
  }
  .checkbox.checkbox-outline.checkbox-warning > span {
    background-color: transparent;
    border-color: #D1D3E0;
  }
  .checkbox.checkbox-outline.checkbox-warning > input:focus ~ span {
    background-color: transparent;
    border-color: #D1D3E0;
  }
  .checkbox.checkbox-outline.checkbox-warning > input:checked ~ span {
    background-color: transparent;
    border-color: #FFA800;
  }
  .checkbox.checkbox-outline.checkbox-warning > input:checked ~ span:after {
    border-color: #FFA800;
  }
  .checkbox.checkbox-danger > span {
    border: 1px solid transparent;
  }
  .checkbox.checkbox-danger > input:focus ~ span {
    border: 1px solid transparent;
  }
  .checkbox.checkbox-danger > input:checked ~ span {
    background-color: #F64E60;
  }
  .checkbox.checkbox-danger > input:checked ~ span:after {
    border-color: #ffffff;
  }
  .checkbox.checkbox-light-danger > span {
    background-color: #FFE2E5;
    border: 1px solid transparent;
  }
  .checkbox.checkbox-light-danger > input:focus ~ span {
    border: 1px solid transparent;
  }
  .checkbox.checkbox-light-danger > input:checked ~ span {
    background-color: #F64E60;
  }
  .checkbox.checkbox-light-danger > input:checked ~ span:after {
    border-color: #ffffff;
  }
  .checkbox.checkbox-outline.checkbox-danger > span {
    background-color: transparent;
    border-color: #D1D3E0;
  }
  .checkbox.checkbox-outline.checkbox-danger > input:focus ~ span {
    background-color: transparent;
    border-color: #D1D3E0;
  }
  .checkbox.checkbox-outline.checkbox-danger > input:checked ~ span {
    background-color: transparent;
    border-color: #F64E60;
  }
  .checkbox.checkbox-outline.checkbox-danger > input:checked ~ span:after {
    border-color: #F64E60;
  }

  .btn.btn-success {
    color: #ffffff;
    background-color: #1BC5BD;
    border-color: #1BC5BD;
}

  .btn {
    outline: none !important;
    vertical-align: middle;
    -webkit-transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease, -webkit-box-shadow 0.15s ease;
  }

  .btn.btn-secondary:hover:not(.btn-text):not(:disabled):not(.disabled), .btn.btn-secondary:focus:not(.btn-text), .btn.btn-secondary.focus:not(.btn-text) {
    color: #3F4254;
    background-color: #d7dae7;
    border-color: #d7dae7;
}

.title-colap{
    background: #eef0f8;
    padding-bottom: 1rem;
    padding-top: 1rem;
    border-radius: 6px;
    padding-left: 10px;
}

.input-error{
    border: 1px solid red;
}